<ion-content [fullscreen]="true">
  <div class="head">
    <ion-header class="ion-no-border">
      <ion-toolbar>
        <ion-title size="large" class="title">Meditation</ion-title>
      </ion-toolbar>
    </ion-header>
  </div>
  <br>
 <div class="square">
  </div>
  <div class="img1">
      <img class="image1" src="..\assets\img\1.jpg">
  </div>
  <div>
  <ion-grid>
    <ion-row>
      <ion-col>
          <img src="..\assets\img\1.png" (click)="navigateToPage()"/>
      </ion-col>
      <ion-col>
          <img src="..\assets\img\2.png" (click)="navigateToPage2()"/>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <img src="..\assets\img\3.png" (click)="navigateToPage3()"/>
      </ion-col>
      <ion-col>
          <img src="..\assets\img\4.png" (click)="navigateToPage4()"/>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <img src="..\assets\img\5.png" (click)="navigateToPage5()"/>
      </ion-col>
      <ion-col>
          <img src="..\assets\img\6.png" (click)="navigateToPage6()"/>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <img src="..\assets\img\7.png" (click)="navigateToPage7()"/>
      </ion-col>
      <ion-col>
          <img src="..\assets\img\8.png" (click)="navigateToPage8()"/>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br>
</div>
  
</ion-content>
