<ion-header>
  <ion-toolbar>
    <ion-button fill="clear" (click)="navigateToPage()">
      <ion-icon name="chevron-back-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
    <ion-label>
      <h1>Walking Meditation</h1>
      <p>Walking meditation, also known as mindful walking, combines mindfulness meditation (the act of focusing on what is happening in the present now without judgment)
         with walking movement. Most people walk from place to place with a specific aim in mind, such as getting the mail.</p> 
      <p>Walking meditation involves moving your body without a specific objective other than walking with mindfulness. With each stride, you concentrate on your breath,
         feelings, and thoughts, as well as your body's sensations and movements. It is an active process in which you are purposefully aware of your surroundings as you move
          through them.</p>
      <p>Thich Nhat Hanh, a Vietnamese Buddhist Zen monk, popularized mindful walking, which has since become a popular practice to promote self-awareness and wellbeing.</p>
      <p>Mindful walking offers numerous physical, psychological, and spiritual benefits. It reduces stress, improves health, perks up mood, doesn't take much time, gives more
         energy, increases willpower, helps maintain physical balance, increases self-awareness, and reconnects with nature. Walking meditation can help reduce anxiety, depression,
          and stress levels, while also improving mood and reducing stress. It's also beneficial for those with diabetes, pre-diabetes, or high blood sugar levels.</p>
    </ion-label>
</ion-content>

