<ion-header>
  <ion-toolbar>
    <ion-button fill="clear" (click)="navigateToPage()">
      <ion-icon name="chevron-back-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
    <ion-label>
      <h1>Schizophrenia</h1>
      <p>Schizophrenia is a persistent, severe mental illness that affects a person's thoughts, actions, emotions, reality perception, and relationships. Although
         it is not as frequent as other serious mental diseases, it might be the most incapacitating and life-long sickness. People with schizophrenia frequently 
         have difficulties in society, job, education, and relationships, and they frequently feel fearful and withdrawn. Despite the fact that it is a chronic 
         disease, appropriate therapy can help control it. Schizophrenia is a psychosis in which a person cannot distinguish reality from imagined thoughts.
         It is not a split or multiple personality disorder.</p> 
      <p>People suffering from psychotic disorders may have an abrupt change in personality and behaviour, known as a psychotic episode. The severity of schizophrenia
         varies from person to person, with some having only one psychotic episode in their lifetime, while others may have several episodes but lead regular lives.
          In cycles known as relapses and remissions, symptoms intensify and improve.</p>

         <h3>What Are the Early Signs of Schizophrenia?</h3>
         <p>The illness commonly manifests itself in men in their late teens or early twenties. It primarily affects women in their early twenties and thirties.
           The prodromal interval is the time between the onset of symptoms and the onset of complete psychosis. It can persist for a few days, weeks, or even years. 
           It can be difficult to detect because there is generally no clear trigger. Particularly in teenagers, you may only observe small behavioural changes. 
           This includes the following:</p>
         <ul>
          <li>A change in grades</li>
          <li>Social isolation</li>
          <li>Concentration issues</li>
          <li>Temper flares</li>
          <li>Having trouble sleeping</li>
         </ul>
         <p>Positive symptoms of schizophrenia are additional ideas or acts that are not based on reality, which are also known as psychotic symptoms. Delusions,
           hallucinations, and catatonia are among the symptoms. Delusions are incorrect, mixed-up, and odd ideas that a person refuses to abandon, such as believing
            that others can hear their thoughts, that God or the devil exists, or that others are scheming against them. Hearing voices, seeing objects that aren't there,
             tasting weird odors, experiencing a funny taste in the mouth, and feeling sensations on the skin are all examples of hallucinations. Catatonia is a disorder in
              which a person stops speaking and their body remains motionless in a single position for an extended period of time.</p>
    </ion-label>
</ion-content>
