<ion-header>
  <ion-toolbar>
    <ion-button fill="clear" (click)="navigateToPage()">
      <ion-icon name="chevron-back-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
  <ion-label>
    <h1>Depression</h1>
    <p> Depression is a mood condition characterized by persistent sadness and loss of interest. It affects how you feel, think, and behave, and can lead to a variety of mental and physical difficulties. It is also known
       as major depressive disorder or clinical depression. You may have difficulty performing routine daily activities, and you may feel as though life isn't worth living.</p> 
    <p>Depression is more than just feeling down, and it isn't something that can be "snapped out" of. Depression may necessitate long-term therapy. But don't get discouraged. Most people who suffer from depression benefit
       from medication, counseling, or both.</p>

       <h3>Symptoms</h3>
       <p>Although depression can occur only once in a lifetime, most people experience multiple episodes. Symptoms occur most of the day, nearly every day, during these episodes, and may include:</p>
        <ul>
        <li>Feelings of sadness, tearfulness, emptiness or hopelessness</li>
        <li>Angry outbursts, irritability or frustration, even over small matters</li>
        <li>Loss of interest or pleasure in most or all normal activities, such as sex, hobbies or sports</li>
        <li>Sleep disturbances, including insomnia or sleeping too much</li>
        <li>Tiredness and lack of energy, so even small tasks take extra effort</li>
        <li>Reduced appetite and weight loss or increased cravings for food and weight gain</li>
        <li>Anxiety, agitation or restlessness</li>
        <li>Slowed thinking, speaking or body movements</li>
        <li>Feelings of worthlessness or guilt, fixating on past failures or self-blame</li>
        <li>Trouble thinking, concentrating, making decisions and remembering things</li>
        <li>Frequent or recurrent thoughts of death, suicidal thoughts, suicide attempts or suicide</li>
        <li>Unexplained physical problems, such as back pain or headaches</li>
      </ul>
  </ion-label>

</ion-content>

