<ion-header>
  <ion-toolbar>
    <ion-button fill="clear" (click)="navigateToPage()">
      <ion-icon name="chevron-back-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
    <ion-label>
      <h1>Mindfulness Meditation</h1>
      <p>Mindfulness meditation is a mental conditioning method that helps you to relax your mind and body by slowing down racing thoughts, letting go of negativity, and letting go of negative emotions. It blends meditation
         with mindfulness practice, which can be defined as a mental state in which you are fully focused on "the now" in order to observe and accept your thoughts, feelings, and sensations without judgment.</p> 
      <p>Mindfulness meditation techniques differ, but in general, it entails deep breathing and body and mental awareness. Mindfulness meditation does not require any props or preparation (unless you love candles, aromatic
         scents, or mantras). All you need to get started is a comfortable location to sit, three to five minutes of free time, and an open mind.</p>
      <p>Numerous advantages of mindfulness meditation include stress reduction, improved heart rate, and immune system stimulation. Anxiety, sadness, and chronic pain can all be helped by using the standardized treatment
         technique known as mindfulness-based stress reduction, or MBSR. According to research, people who practice mindfulness meditation had lower heart rates, greater cardiovascular health, and improved immune systems.
          Additionally, using mindfulness meditation can potentially alleviate sleep disorders by enhancing the quality of sleep. In general, mindfulness meditation is a useful technique for upholding general wellbeing.</p>
    </ion-label>
</ion-content>
