<ion-header>
  <ion-toolbar>
    <ion-button fill="clear" (click)="navigateToPage()">
      <ion-icon name="chevron-back-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
    <ion-label>
      <h1>Eating disorder</h1>
      <p>Eating disorders are psychological problems defined by significant and persistent disruption in eating behaviors as well as distressing thoughts and emotions. 
        They affect up to 5% of the population and are most prevalent throughout adolescence and early adulthood. Anorexia nervosa, bulimia nervosa, binge eating disorder,
         avoidant restrictive food intake disorder, feeding and eating disorder, pica, and rumination disorder are examples of common eating disorders. Preoccupations with food,
          weight, or shape, anxiety over eating, and the consequences of consuming certain foods are common features of these illnesses. Restrictive eating, binge eating, purging,
          laxative abuse, and compulsive exercise are all common behaviors associated with eating disorders that can be motivated by addiction.</p> 
      <p>Eating disorders frequently co-occur with other mental diseases, such as mood and anxiety disorders, obsessive-compulsive disorder, and alcohol and substance use disorders.
          Genetics and heredity may increase the likelihood of eating problems, but they can also influence those who do not have a family history. Treatment should address psychological,
          behavioural, nutritional, and other medical concerns, such as the implications of malnutrition or purging behaviours, as well as heart and gastrointestinal issues, as well as
          potentially deadly illnesses. Treatment ambivalence, denial of eating disorders, and concern about changing eating habits are all prevalent. Individuals suffering from eating
          disorders can regain their emotional and psychological health with proper medical care.</p>

         <h3>Types of Eating Disorder</h3>
         <ol>
         <li><b>Anorexia Nervosa</b> is a severe eating disorder characterised by self-starvation and weight loss, which frequently results in being underweight for one's height and age.
           It has the highest fatality rate and can be life-threatening. There are two forms of eating disorders: restricting and bingeing or purging. Menstrual cycles, dizziness, and other
            health difficulties are among the symptoms. Normalising eating and weight control behaviours, addressing co-occurring illnesses, and addressing body dissatisfaction are all part
            of treatment. In the most serious cases, inpatient or residential behavioural specialty programmes may be required.</li>
        <li><b>Bulimia Nervosa</b> is a disorder in which people alternate dieting with binge-eating high-calorie foods, which typically results in feelings of guilt or embarrassment. Binge eating is
           defined as consuming a large amount of food in a short period of time, which often results in nausea and discomfort. Binges occur at least weekly and are frequently followed by compensatory
            behaviours such as fasting, vomiting, laxative abuse, or compulsive activity to prevent weight gain. Bulimia nervosa patients might be underweight, average weight, overweight, or obese.
            trips to the toilet, significant amounts of food disappearing, chronic sore throat, salivary gland swelling, dental decay, heartburn, gastroesophageal reflux, laxative or diet pill misuse,
            recurring unexplained diarrhoea, diuretics usage, and dizziness are all possible symptoms of bulimia nervosa.</li>
          </ol>
         <p>Binge eating disorder necessitates regular binges, usually once a week for three months, as well as characteristics such as eating faster than normal, feeling uncomfortably full, eating alone,
           and feeling ashamed or guilty after a binge. Individual or group-based cognitive behavioural psychotherapy, interpersonal therapy, antidepressant medicines, and lisdexamfetamine are the most effective
            treatments for binge eating disorders,</p>
    </ion-label>
</ion-content>
