<ion-header>
  <ion-toolbar>
    <ion-button fill="clear" (click)="navigateToPage()">
      <ion-icon name="chevron-back-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">  
  </ion-header>
  <ion-label>
    <h1>Anxiety Disorders</h1>
    <p>Anxiety disorders are a type of mental illness. You may react to particular things and circumstances with fear and dread if you have an anxiety disorder. Physical symptoms of anxiousness include a racing heart and
       excessive sweating.</p> 
    <p>It's normal to feel anxious. If you have to deal with a problem at work, go to an interview, take an exam, or make an important decision, you may feel anxious or tense. Anxiety, on the other hand, can be good. Anxiety,
       for example, helps us recognize harmful circumstances and focus our attention, allowing us to stay safe.</p>
    <p>An anxiety disorder, on the other hand, goes beyond the normal nervousness and small worry you may experience from time to time. An anxiety disorder develops when:</p>
    <h3>What are the types of anxiety disorders?</h3>
    <p>There are several types of anxiety disorders, including:</p>
    <ul>
      <li><b>Generalized anxiety disorder (GAD)-</b> GAD involves extreme worry and tension, often affecting various topics like health, work, school, and relationships. Physical symptoms include restlessness, difficulty concentrating,
         and sleeping problems.</li>
      <li><b>Panic disorder -</b> Panic disorder causes sudden, intense panic attacks, often resembling heart attacks. These attacks can cause sweating, heart palpitations, chest pain, and a feeling of choking. People with panic disorder
         often worry about the next attack and avoid situations that might trigger them. It's crucial to seek medical attention if you suspect a heart attack.</li>
      <li><b>Phobias -</b> Phobias are intense fears of specific situations or objects, often causing individuals to avoid everyday situations. These phobias can be specific or simple, affecting animals, blood, flying, heights, and injections.
         Often, the fear level doesn't match the situation, leading to a prolonged effort to avoid the phobia.</li>
      <li><b>Social Anxiety Disorder (previously called social phobia) -</b> Social anxiety disorder, also known as social phobia, involves significant anxiety and discomfort in social interactions. People with this disorder often avoid or endure situations,
         such as public speaking, meeting new people, or eating/drinking in public. This anxiety can cause problems with daily functioning and last for at least six months.</li>
         <p>Other mental health conditions share features with anxiety disorders. These include post-traumatic stress disorder and obsessive-compulsive disorder.</p>
    </ul>
  </ion-label>
</ion-content>
