<ion-content [fullscreen]="true">
 <div class="head">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-title size="large" class="title">Support</ion-title>
    </ion-toolbar>
  </ion-header>
</div>
<br>
  <div class="square">
  </div>

  <div class="header">
    <img src="..\assets\img\doc.png">
  </div>
  <div class="list">
    <p>List of Doctors Available</p>
  </div>
  <div id="listd">
    <div id="avatar">
      <img alt="Silhouette of a person's head" src="..\assets\img\d1.png" />
  </div>
  <div id="doctors">
    <h3 id="name">Iris Crisostomo</h3>
    <p>MSc, RPsy - Clinical Psychology</p>
    <p>6 yrs experience</p>
    <p>Fee: ₱1000 </p>
  </div>
    <div><ion-button fill="clear"><a href="#" onclick="window.open('https://nowserving.seriousmd.com/doctor/iris-crisostomo/', '_system', 'location=yes'); return false;"><ion-icon name="chevron-forward-outline"></ion-icon></a></ion-button></div>
  </div>
  <br>
  <br>
  <br>
  <div  id="listd">
    <div id="avatar">
      <img alt="Silhouette of a person's head" src="..\assets\img\d2.png" />
  </div>
  <div id="doctors">
    <h3 id="name">Joseph De Roxas</h3>
    <p>MSc, RPsy - Clinical Psychology</p>
    <p>13 yrs experience</p>
    <p>Fee: ₱1000 </p>
  </div>
    <div><ion-button fill="clear"><a href="#" onclick="window.open('https://nowserving.seriousmd.com/doctor/joseph-deroxas', '_system', 'location=yes'); return false;"><ion-icon name="chevron-forward-outline"></ion-icon></a></ion-button></div>
  </div>
  <br>
  <br>
  <br>
  <div  id="listd">
    <div id="avatar">
      <img alt="Silhouette of a person's head" src="..\assets\img\d3.png" />
  </div>
  <div id="doctors">
    <h3 id="name">Virgimin Panganiban</h3>
    <p>Registered Guidance Counselor</p>
    <p>21 yrs experience</p>
    <p>Fee: ₱1000 </p>
  </div>
    <div><ion-button fill="clear"><a href="#" onclick="window.open('https://nowserving.seriousmd.com/doctor/virgimin-panganiban', '_system', 'location=yes'); return false;"><ion-icon name="chevron-forward-outline"></ion-icon></a></ion-button></div>
  </div>
  <br>
  <br>
  <br>
  <div id="listd">
    <div id="avatar">
      <img alt="Silhouette of a person's head" src="..\assets\img\d4.png" />
  </div>
  <div id="doctors">
    <h3 id="name">Dr. Robert Roy Mapa</h3>
    <p>MD, DSBPP, FPPA - Psychiatry</p>
    <p>12 yrs experience</p>
    <p>Fee: ₱2000 </p>
  </div>
    <div><ion-button fill="clear"><a href="#" onclick="window.open('https://nowserving.seriousmd.com/doctor/robert-roy-mapa', '_system', 'location=yes'); return false;"><ion-icon name="chevron-forward-outline"></ion-icon></a></ion-button></div>
  </div>
  <br>
  <br>
  <br>
  <div id="listd">
    <div id="avatar">
      <img alt="Silhouette of a person's head" src="..\assets\img\d5.png" />
  </div>
  <div id="doctors">
    <h3 id="name">Dr. Chrismar Mocorro</h3>
    <p>MD, DFM, DipBLM, DPCLM, MPM - <br> Mental Health</p>
    <p>11 yrs experience</p>
    <p>Fee: ₱-- </p>
  </div>
    <div><ion-button fill="clear"><a href="#" onclick="window.open('https://nowserving.seriousmd.com/doctor/chrismar-mocorro', '_system', 'location=yes'); return false;"><ion-icon name="chevron-forward-outline"></ion-icon></a></ion-button></div>
  </div>
  <br>
  <br>
  <br>
  <div id="listd">
    <div id="avatar">
      <img alt="Silhouette of a person's head" src="..\assets\img\d6.png" />
  </div>
  <div id="doctors">
    <h3 id="name">Maria Angela Diopol</h3>
    <p>RPsy - Registered Psychology</p>
    <p>4 yrs experience</p>
    <p>Fee: ₱1500 </p>
  </div>
    <div><ion-button fill="clear"><a href="#" onclick="window.open('https://nowserving.seriousmd.com/doctor/mariaangela-diopol', '_system', 'location=yes'); return false;"><ion-icon name="chevron-forward-outline"></ion-icon></a></ion-button></div>
  </div>
  <br>
  <br>
  <br>
  <div id="listd">
    <div id="avatar">
      <img alt="Silhouette of a person's head" src="..\assets\img\d7.png" />
  </div>
  <div id="doctors">
    <h3 id="name">Adesty Dulawan</h3>
    <p>MA, RGC, RPsy - Clinical Psychology</p>
    <p>12 yrs experience</p>
    <p>Fee: ₱2000 </p>
  </div>
    <div><ion-button fill="clear"><a href="#" onclick="window.open('https://nowserving.seriousmd.com/doctor/adesty-dulawan', '_system', 'location=yes'); return false;"><ion-icon name="chevron-forward-outline"></ion-icon></a></ion-button></div>
  </div>
  <br>
  <br>
  <br>
  <div id="listd">
    <div id="avatar">
      <img alt="Silhouette of a person's head" src="..\assets\img\d8.png" />
  </div>
  <div id="doctors">
    <h3 id="name">Margie Atienza</h3>
    <p>RPsy, Licensed Psychologist, <br>Psychotherapist</p>
    <p>10 yrs experience</p>
    <p>Fee: ₱1500 </p>
  </div>
    <div><ion-button fill="clear"><a href="#" onclick="window.open('https://nowserving.seriousmd.com/doctor/margie-atienza', '_system', 'location=yes'); return false;"><ion-icon name="chevron-forward-outline"></ion-icon></a></ion-button></div>
  </div>
  <br>
  <br>
  <br>
  <div id="listd">
    <div id="avatar">
      <img alt="Silhouette of a person's head" src="..\assets\img\d5.png" />
  </div>
  <div id="doctors">
    <h3 id="name">Dr. Miguel Manuel Torrijos </h3>
    <p>MD, MBA - Psychiatry</p>
    <p>1 yr experience</p>
    <p>Fee: ₱3000 </p>
  </div>
    <div><ion-button fill="clear"><a href="#" onclick="window.open('https://nowserving.seriousmd.com/doctor/miguel-manuel-torrijos', '_system', 'location=yes'); return false;"><ion-icon name="chevron-forward-outline"></ion-icon></a></ion-button></div>
  </div>
  <br>
  <br>
  <br>
  <div id="listd">
    <div id="avatar">
      <img alt="Silhouette of a person's head" src="..\assets\img\d9.png" />
  </div>
  <div id="doctors">
    <h3 id="name">Mary May Fernando</h3>
    <p>PhD, RPsy - Depression, Anxiety, <br> Trauma</p>
    <p>--</p>
    <p>Fee: ₱1600 </p>
  </div>
    <div><ion-button fill="clear"><a href="#" onclick="window.open('https://nowserving.seriousmd.com/doctor/mary-may-fernando', '_system', 'location=yes'); return false;"><ion-icon name="chevron-forward-outline"></ion-icon></a></ion-button></div>
  </div>
  <br>
  <br>

</ion-content>
