<ion-header>
  <ion-toolbar>
    <ion-button fill="clear" (click)="navigateToPage()">
      <ion-icon name="chevron-back-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
    <ion-label>
      <h1>Progressive Muscle Relaxation</h1>
      <p>Progressive muscle relaxation (PMR) is a deep relaxation technique that has been shown to be useful in lowering chronic pain symptoms, tension, anxiety, and sleeplessness. It consists of tensing one
         muscle group at a time, followed by a relaxation period with tension release. This approach has been used in conjunction with traditional treatments to relieve symptoms in a variety of illnesses, including headaches,
          cancer pain, high blood pressure, and digestive disorders. Edmund Jacobson first described PMR in the 1930s, and it is simple to learn, lasting only 10-20 minutes per day. Experts advise tensing and relaxing muscle
           groups one at a time, beginning with the lower limbs and progressing to the face, belly, and chest.</p> 
      <p>PMR is practiced by contracting one muscle group for 5-10 seconds, breathing, and releasing tension. Allow yourself 10-20 seconds to relax before going on to the next muscle group. Concentrate on how you feel when
         the muscle group relaxes, and use visualization to help imagine stressful feelings leaving your body. Work your way up the body, contracting and relaxing muscle groups as you go.</p>
      <p>Practicing PMR at night can help persons with insomnia sleep better and learn more about their bodies' signals. You can accurately identify and reduce stress and tension signals in your body with experience and time.</p>
    </ion-label>
</ion-content>

