<ion-header>
  <ion-toolbar>
    <ion-button fill="clear" (click)="navigateToPage()">
      <ion-icon name="chevron-back-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
    <ion-label>
      <h1>Bipolar Disorder</h1>
      <p>Bipolar disorder is a brain disorder causing changes in mood, energy, and functioning. Individuals with bipolar disorder experience intense emotional states during distinct periods of days to weeks, known as mood episodes.
         These episodes can be manic/hypomanic or depressive, and can also have periods of neutral mood. When treated, individuals with bipolar disorder can lead full and productive lives. Unlike those without bipolar disorder, mood
          fluctuations typically last hours and are not accompanied by extreme behavior change or difficulty with daily routines and social interactions.</p> 
      <p>Bipolar disorder can disrupt relationships, cause difficulty in work, and affect schooling. The disorder is classified into three diagnoses: bipolar I, bipolar II, and cyclothymic disorder. It is common in families, with 80-90%
         of individuals having a relative with bipolar disorder or depression. Environmental factors like stress, sleep disruption, and drugs and alcohol may trigger mood episodes in vulnerable individuals. Although the exact causes of bipolar
          disorder within the brain are unclear, an imbalance of brain chemicals is believed to lead to dysregulated brain activity.</p>
        <p>The average age of onset for individuals with bipolar I disorder is 25 years old. People with other mental disorders, such as anxiety, substance use disorders, and ADHD, have a significantly higher risk of suicide compared to the
           general population.</p>
         <h3>Symptoms</h3>
         <p>There are several types of bipolar and related disorders. They may include mania or hypomania and depression. Symptoms can cause unpredictable changes in mood and behavior, resulting in significant distress and difficulty in life.</p>
          <ul>
          <li>Bipolar I disorder. You've had at least one manic episode that may be preceded or followed by hypomanic or major depressive episodes. In some cases, mania may trigger a break from reality (psychosis).</li>
          <li>Bipolar II disorder. You've had at least one major depressive episode and at least one hypomanic episode, but you've never had a manic episode.</li>
          <li>Cyclothymic disorder. You've had at least two years — or one year in children and teenagers — of many periods of hypomania symptoms and periods of depressive symptoms (though less severe than major depression).</li>
          <li>Other types. These include, for example, bipolar and related disorders induced by certain drugs or alcohol or due to a medical condition, such as Cushing's disease, multiple sclerosis or stroke.</li>
        </ul>
        <p>Bipolar II disorder is a distinct diagnosis from bipolar I, characterized by prolonged depression and significant impairment. Typically diagnosed in the teenage years or early 20s, it can cause severe manic episodes and varies in symptoms over time.
           Symptoms can vary from person to person.</p>
    </ion-label>

</ion-content>