<ion-header>
  <ion-toolbar>
    <ion-button fill="clear" (click)="navigateToPage()">
      <ion-icon name="chevron-back-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
    <ion-label>
      <h1>Obsessive-compulsive disorder (OCD)</h1>
      <p>Obsessive-compulsive disorder (OCD) is a mental illness that causes unwanted thoughts or feelings (obsessions) to occur repeatedly. It might also give you the desire to perform something repeatedly (compulsions). Some people have obsessions
         as well as compulsions.</p> 
      <p>OCD isn't about bad behaviours like nail biting or negative thinking. An obsessive notion could be that specific numbers or colours are "good" or "bad," while a compulsive practice could be to wash your hands seven times after touching something
         potentially dirty. You may not want to think or do these things, yet you feel compelled to do so.</p>

         <p>Everyone has habits or thoughts that come up from time to time. People suffering from OCD have thoughts or behaviours such as:</p>
         <ul>
          <li>Spend at least an hour per day on it.</li>
          <li>Are beyond your control</li>
          <li>Aren't they fun?</li>
          <li>Interfere with your career, social life, or another aspect of your life</li>
         </ul>
         <h3>Types of OCD and Their Symptoms</h3>
         <p>OCD manifests itself in a variety of ways, although the majority of cases fall into one of four broad categories:</p>
         <p>Checking locks, alarm systems, stoves, or light switches, or suspecting a medical condition such as pregnancy or schizophrenia.
            Contamination, a fear of filthy objects, or an obsession with cleaning (sometimes known as "obsessive cleanliness disorder").
            Mental contamination is the sensation of being treated as if you were dirt.</p>
         <p>The need to have things lined up in a certain way, as well as symmetry and ordered.</p>
         <p>Ruminations and intrusive thoughts, a fixation on a certain path of thought. Some of these ideas may be aggressive or frightening.</p>
    </ion-label>
</ion-content>

