<ion-header>
  <ion-toolbar>
    <ion-button fill="clear" (click)="navigateToPage()">
      <ion-icon name="chevron-back-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
    <ion-label>
      <h1>Visualization</h1>
      <p>Guided imagery techniques, also known as visualization and imagery, are a stress reduction method that involves creating a mental image of a peaceful setting or environment. These
         techniques can be practiced alone or paired with physical relaxation techniques like progressive muscle relaxation and massage. The goal is to associate the sensations of relaxation
          with the peaceful visual image, allowing future practice sessions to quickly bring back to mind the physical sensations of relaxation.</p> 
      <p>Guided imagery techniques work by involving distraction, redirecting attention away from stress, and acting as though the peaceful, safe, and beautiful environment were real. It also
         works through the associative process, where scenes become a learned cue or trigger that helps recall memories and sensations from past relaxation practices. Imagery techniques can be
          considered a form of guided meditation, helping people learn to detach themselves from their mind's contents and cultivate a relaxed detachment.</p>
      <p>The practice of guided imagery is highly portable, relying on one's imagination and concentration abilities. However, it is most successful when practiced without interruption in a
         free-from-distracting setting, such as the bathroom, if no other suitable, private, and peaceful location is available.</p>
    </ion-label>
</ion-content>

