<ion-content [fullscreen]="true">
  <div class="cloud">
    <ion-header class="ion-no-border">
      <ion-toolbar>
        <ion-title size="large" class="title">Information</ion-title>
      </ion-toolbar>
    </ion-header>
  </div>
  <br>
    <br>
    <img class="cloudpic" src="..\assets\img\cloud.png">
  <div class="text">
    <h3>Mental Health Conditions</h3>
    <p>This is your go-to guide for information on a wide range of mental health conditions. Whether you're seeking to educate yourself, support a loved one, or gain insights into your own mental well-being, our app is here to assist you every step of the way.</p>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <div id="icon">
            <ion-icon name="heart-half-outline"></ion-icon>
          </div>
          <div id="icon2">
            <ion-icon name="play-outline" (click)="navigateToPage()"></ion-icon>
          </div>  
            <p>Depression</p>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <div id="icon">
            <ion-icon name="heart-half-outline"></ion-icon>
          </div>
          <div id="icon2">
            <ion-icon name="play-outline" (click)="navigateToPage2()"></ion-icon>
          </div>  
            <p>Anxiety Disorders</p>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <div id="icon">
            <ion-icon name="heart-half-outline"></ion-icon>
          </div>
          <div id="icon2">
            <ion-icon name="play-outline" (click)="navigateToPage3()"></ion-icon>
          </div>  
            <p>Bipolar Disorder</p>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <div id="icon3">
            <ion-icon name="heart-half-outline"></ion-icon>
          </div>
          <div id="icon4">
            <ion-icon name="play-outline" (click)="navigateToPage4()"></ion-icon>
          </div>  
            <p>Post-traumatic stress disorder (PTSD)</p>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <div id="icon3">
            <ion-icon name="heart-half-outline"></ion-icon>
          </div>
          <div id="icon4">
            <ion-icon name="play-outline" (click)="navigateToPage5()"></ion-icon>
          </div>  
            <p>Obsessive-compulsive disorder (OCD)</p>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <div id="icon">
            <ion-icon name="heart-half-outline"></ion-icon>
          </div>
          <div id="icon2">
            <ion-icon name="play-outline" (click)="navigateToPage6()"></ion-icon>
          </div>  
            <p>Schizophrenia</p>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <div id="icon">
            <ion-icon name="heart-half-outline"></ion-icon>
          </div>
          <div id="icon2">
            <ion-icon name="play-outline" (click)="navigateToPage7()"></ion-icon>
          </div>  
            <p>Eating disorder</p>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
