<ion-header>
  <ion-toolbar>
    <ion-button fill="clear" (click)="navigateToPage()">
      <ion-icon name="chevron-back-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
    <ion-label>
      <h1>Relaxation Technique</h1>
      <p>Relaxation techniques are an excellent strategy to handle stress. Relaxation is more than just having a good time or doing something you enjoy. It is a technique that reduces the effects
         of stress on your mind and body. Relaxation techniques might assist you in dealing with ordinary stress. Furthermore, these strategies can help with long-term stress or stress associated
         to a variety of health issues, such as heart disease and discomfort.</p> 
      <p>Learning relaxation techniques will help you whether your stress is out of control or you already have it under control. It is simple to learn basic relaxation techniques. Relaxation techniques
         are frequently free or low-cost, offer no risk, and may be practiced in almost any place.</p>
      <p>Investigate basic relaxation techniques to begin de-stressing your life and boosting your health and overall well-being.</p>
     <p>Relaxation techniques have numerous health benefits, including lowering blood pressure, improving digestion, controlling blood sugar levels, reducing stress hormone activity, increasing muscle flow,
       reducing muscle tension, improving focus, mood, sleep quality, and boosting confidence. Use relaxation techniques in conjunction with other positive coping methods such as thinking positively, finding humor,
        problem-solving, time management, exercising regularly, eating a healthy diet, getting enough sleep, spending time outside, and reaching out to supportive family and friends to maximize benefits.</p>
    </ion-label>
</ion-content>

