<ion-header>
  <ion-toolbar>
    <ion-button fill="clear" (click)="navigateToPage()">
      <ion-icon name="chevron-back-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
    <ion-label>
      <h1>Post-traumatic stress disorder (PTSD)</h1>
      <p>Posttraumatic stress disorder (PTSD) is a psychiatric illness that can occur in people who have experienced or seen a traumatic event, sequence of events, or combination of circumstances. This can be emotionally or physically detrimental
          or life-threatening to an individual, and it can have an impact on their mental, physical, social, and/or spiritual well-being. Natural catastrophes, major accidents, terrorist activities, war/combat, rape/sexual assault, historical trauma,
          intimate partner abuse, and bullying are all examples.</p> 
      <p>Most persons who experience a traumatic occurrence will experience shock, anger, nervousness, fear, and even guilt. These are ordinary reactions, and most individuals get over them. However, for a person suffering from PTSD, these sensations
         persist and even worsen, becoming so intense that they prevent the individual from going about their daily activities normally. People suffering from PTSD experience symptoms for more than a month and are unable to function as well as they
          did prior to the triggering incident.</p>

         <h3>Symptoms</h3>
         <p>PTSD symptoms typically develop within three months of a traumatic experience, but they can appear years later. The severity and duration of the illness might vary, with some people healing in 6 months and others taking much longer. Reliving,
           avoiding, higher arousal, unpleasant cognitions and mood, and delayed development are the four major groups of symptoms. Reliving entails reliving the experience over and over again through thoughts and recollections, while avoiding situations
            that may remind the person of the event. Avoiding can lead to feelings of alienation, isolation, and loss of interest in previously valued activities.</p>
         <p>Excessive emotions, difficulties relating to people, difficulty falling or staying asleep, impatience, angry outbursts, difficulty concentrating, and being "jumpy" or easily startled are all symptoms of increased arousal. Negative cognitions
           and mood refer to ideas and sentiments of blame, estrangement, and traumatic memories. Toilet training, motor skills, and language development in young children with PTSD may be delayed. The severity of PTSD symptoms can fluctuate, with greater
            symptoms appearing when under stress or when confronted with a specific reminder of the event.</p>
    </ion-label>
</ion-content>
