<ion-header>
  <ion-toolbar>
    <ion-button fill="clear" (click)="navigateToPage()">
      <ion-icon name="chevron-back-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
    <ion-label>

      <h1>Breathing Meditation</h1>
      <p>Breathing medication is an important treatment for respiratory health, allowing people to breathe freely
         and live a better life. It relaxes and expands the airways, making breathing simpler and more comfortable.
         Breathing medications are classified into two types: bronchodilators and anti-inflammatory medicines. Bronchodilators
         provide immediate relief during asthma attacks or acute episodes of trouble breathing, whereas anti-inflammatory medications
        reduce swelling and inflammation in the airways, aiding in the prevention of future episodes and the management of chronic illnesses 
        such as asthma.</p> 
      <p>Breathing medication has a number of advantages, including improved breathing, prevention and control, increased quality of life, and 
         emergency support for severe respiratory disorders such as asthma. Regular usage of these medications can alleviate symptoms, enhance general well-being,
          and help to avoid potentially fatal situations. If you or someone you love is having trouble breathing, speak with a healthcare expert to discuss your 
          alternatives. Remember, every breath counts, and breathing can be made easier and more comfortable with the correct prescription.</p>
    </ion-label>
</ion-content>
